.DisplayBox, .DisplayBoxLong {
  cursor: pointer;
  margin: 25px auto 45px auto;
  position: relative;
}

/* Set a white gradient overlay to hide the bottom of
DisplayBox component */
.DisplayBoxLong::before {
  background-image: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 85%,
    rgb(255, 255, 255) 100%
  );
  bottom: 0;
  content: "";
  height: 100%;
  left: 0;
  position: absolute;
  width: 100%;
}
