.TitleInput {
    font-size: 0.8em;
    margin: 10px 0;
}

input {
    background: #F1F1F3;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    padding: 20px;
    width: 100%;
}