.Action {
  cursor: pointer;
}

.Icon img {
  width: 24px;
  height: 24px;
}

.Text {
  display: none;
}

@media (min-width: 600px) {
  .Icon {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
    top: 5px;
  }
}

@media (min-width: 800px) {
  .Action {
    margin: 1em auto;
  }

  .Icon {
    display: none;
  }

  .Text {
    display: block;
  }
}
