.BlogInput {
    font-size: 0.8em;
    height: 100%;
    margin: 10px 0;
}

textarea {
    background: #F1F1F3;
    border: none;
    border-radius: 5px;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    height: 100%;
    padding: 20px;
    resize: none;
    width: 100%;
}

@media (min-width: 600px) {
    textarea {
        height: 50%;
    }
}